<div *ngIf="control.touched" >
  <small *ngIf="control.errors?.required" class="text-danger d-block mt-0" >This field is compulsory</small>
  <small *ngIf="control.errors?.minlength" class="text-danger d-block mt-0" >
    This field must contain the minimum of {{control.errors?.minlength.requiredLength}} characters
  </small>
  <small *ngIf="control.errors?.maxlength" class="text-danger d-block mt-0" >
   This field must contain the maximum of {{control.errors?.maxlength.requiredLength}} characters
  </small>
  <small *ngIf="control.errors?.email" class="text-danger d-block mt-0" >
    Invalid email format
  </small>
  <small *ngIf="control.errors?.pattern" class="text-danger d-block mt-0" >
    Only lowercase is allowed in this field
  </small>
  <small *ngIf="control.errors?.userNameTaken" class="text-danger d-block mt-0" >
    Username already taken
  </small>
</div>

